// app global css in SCSS form

body {
	font-size: 18px;
	font-feature-settings: "liga";
}

a {
	color: black;
	font-size: 24px;
}

.star {
    font-size: 24px;
    color: rgb(99,99,0);
}

.facebook a, .twitter a {
	font-size: 16px;
}

.q-page-container {
	padding-top: 2.5em;
}

.disabled, .disabled *, [disabled], [disabled] * {
    cursor: text !important;
    color: black !important;
}

@font-face {
  font-display: swap;
}

.print-only {
	display: none;
}

@media print {
	.no-print, .gsc-control-cse {
		display: none !important;
		visibility: hidden !important;
	}
	.print-only {
		display: block !important;
	}
	.q-page {
        width: 100% !important;
    }
}

@media screen and (max-width: 600px) {
	.fat-only {
		display: none;
	}
}
