// app global css in SCSS form

body {
	font-size: 18px;
}

a {
	color: black;
}

.q-page-container {
	padding-top: 2.5em;
}

.disabled, .disabled *, [disabled], [disabled] * {
    cursor: text !important;
    color: black !important;
}
